{{#if loggedIn}}
  {{> yHeader}}
{{ else }}
  {{> nHeader}}
{{/if}}

<div class="badshah">

  <div class="dev_div">
    <img src="/images/skull.gif" />
    <span>Developed by
      <a href="https://www.instagram.com/theanubhavsethiya/" target="_blank" > Anubhav Gupta,
       <a href="https://www.instagram.com/guided_prince/" target="_blank" > Md. Rashid, 
        <a href="https://www.instagram.com/" target="_blank" > Ritik Upadhyay,
         <a href="https://www.instagram.com/" target="_blank" > Anand Khandelwal,
          <a href="https://www.instagram.com/bandils06/" target="_blank" > Hritik Bandil</span>
  </div>

</div>

{{> footer}}
